@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/circular/CircularStd-Bold.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/sf/SF-Pro-Display-Light.ttf");
    font-style: normal;
    font-display: swap;
  }
  